@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans.woff2') format('woff2'),
        url('LiberationSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

